
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap');

.gradient-background {
    background: linear-gradient(245deg,#F029C4,#FF0265);
    background-size: 180% 180%;
    animation: gradient-animation 3s ease infinite;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
  
    
  }



  
  .stars{
   
    width: 100%;
    height: 40%;
    
    
  }

  .stars2{
   
    width: 100%;
    height: 50%;
    
    
  }

  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


 
* {
    margin: 0px;
    padding: 0px;
    
  }


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    padding-top: 5%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
    
}

.logo-mobile{

  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  padding-top: 5%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 45px); }
  100%   { transform: translate(0, -0px); }   
}

@keyframes floating-horizontal {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(45, 0px); }
  100%   { transform: translate(-0, 0px); }   
}

@keyframes float {
	0% {
		
		transform: translatex(0px);
	}
	50% {
	
		transform: translatex(-20px);
	}
	100% {
		
		transform: translatex(0px);
	}
}

@keyframes float-right {
	0% {
		
		transform: translatex(0px);
	}
	50% {
	
		transform: translatex(20px);
	}
	100% {
		
		transform: translatex(0px);
	}
}

.title{
    text-align: center;
    font-size: 48=px;
    color: #fff;
    margin-top: 50px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
}

.title-mobile{
  text-align: center;
  font-size: 25px;
  color: #fff;
  margin-top: 60px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
 
}

.buttonText{
  text-align: center;
  margin-top: 50px;
  color: white;
  font-weight: 100;
}

.Button {
  background-color: rgb(255, 255, 255, 0.15);
  border: none;
  width: 715px;
  height: 80px;
  border-radius: 43px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  color: white;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  
 
}

.MaleButton {
  background-color: rgb(255, 255, 255, 0.15);
  border: none;
  width: 715px;
  height: 80px;
  border-radius: 43px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  color: white;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  
 
}

.MaleButton-mobile{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255, 0.15);
  border: none;
  font-size: 70px;
  margin-right: 20px;
  text-align: center;
}

.FemaleButton-mobile{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255, 0.15);
  border: none;
  font-size: 70px;
  margin-left: 20px;
  text-align: center;
}

.FemaleButton {
  background-color: rgb(255, 255, 255, 0.15);
  border: none;
  width: 715px;
  height: 80px;
  border-radius: 43px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  color: white;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  
 
}

.MoreGendersButton {
  background-color: rgb(255, 255, 255, 0.15);
  border: none;
  width: 715px;
  height: 80px;
  border-radius: 43px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  color: white;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  font-weight: 800;
  
 
}

.MoreGendersButton-mobile {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255, 0.15);
  border: none;
  font-size: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: block;
  color: white;
  font-weight: 800;
  
  
 
}

.Button-mobile {
  background-color: rgb(255, 255, 255, 0.15);
  border: none;
  width: 350px;
  height: 60px;
  border-radius: 43px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  color: white;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  
 
}

.ForwardButton{
  background-image: url('./images/NextArrow.svg');
  width: 90px; 
  height: 20px;
  background-repeat: no-repeat;
  background-color: transparent;

  text-align: center;
  margin-left: 15px;
  
  border: none;
  animation: float-right 3s ease-in-out infinite;


  
 
}

.BackButton{
  background-image: url('./images/BackArrow.svg');
  width: 90px; 
  height: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  text-align: center;
  margin-right: 15px;
  border: none;
  animation: float 3s ease-in-out infinite;

}

.ForwardButton-mobile{
  background-image: url('./images/NextArrow.svg');
  width: 90px; 
  height: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: rotate(180deg);
  text-align: center;
  margin-left: 15px;
  border: none;
  animation: float-right 3s ease-in-out infinite;
  

  
 
}

.BackButton-mobile{
  background-image: url('./images/BackArrow.svg');
  width: 90px; 
  height: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  text-align: center;
  margin-right: 15px;
  border: none;
  animation: float 3s ease-in-out infinite;

}

.btn-Group {
  text-align: center;
  margin-left: auto;
margin-right: auto;
margin-top: 50px;
margin-bottom: 10px;
}

.btn-Group2 {
  text-align: center;
  margin-left: auto;
margin-right: auto;
margin-top: 50px;
margin-bottom: 10px;
}
.nameForm{
  text-align: center;
  

}

.nameInput{
  border: none;
  border-bottom: 1.5px solid white;
  background-color: transparent;
  margin-top: 2.5%;
  width: 40%;
  height: 50px;
  box-sizing: border-box;
  outline: none;
  
  font-size: 30px;
  color: #fff;
  pointer-events: auto !important;
}

.nameInput-mobile{
  border: none;
  border-bottom: 1.5px solid white;
  background-color: transparent;
  margin-top: 2.5%;
  width: 60%;
  height: 50px;
  box-sizing: border-box;
  outline: none;
  
  font-size: 16px;
  color: #fff;
  pointer-events: auto !important;
}


::placeholder{
  color: white;
  opacity: 0.5;
}


.ProgressBar{
  margin-left: auto;
  margin-right: auto;
 
}

.google{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}


.date{
  margin-top: 2.5%;
  margin-left: auto;
  margin-right: auto;
}
html, body 
{ 
 
 overflow: hidden;




}







/*

button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
} 
 */



/*

.SoulmateButton {
  background-image: url(images/Button.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  
  width: 100px;
  border: none;
}
 
button span {
  display: none;
}

*/